.header {
    margin-top: 20px;
}

.password {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: blueviolet;
}

.passform {
    margin-top: 20px;
    background-color: aliceblue;

}

.password_length{
    margin: 40px 0;
}
.form-btn{
    margin-top: 60px;
}

input {
    display: inline-block;
}

.switches {
    margin: 20px 0;
}

.btn {
    color: white;
}
